<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="@Url.Content("~/Content/themes/base/all.css")" rel="stylesheet" />

    <script src="@Url.Content("~/Scripts/jquery-3.6.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.13.1.min.js")"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            @Html.RouteLink("Task_Сalendare", new { controller = "Home", action = "Index" }, new { @class = "navbar-brand text-white" })
            <div class="navbar-nav flex-row" style="column-gap: 20px;">
                @Html.RouteLink("Главная", new { controller = "Home", action = "Index" }, new { @class = "nav-item nav-link" })
                @Html.RouteLink("Создать", new { controller = "CreateTask", action = "Index" }, new { @class = "nav-item nav-link" })
                @Html.RouteLink("Календарь", new { controller = "Calendar", action = "Index" }, new { @class = "nav-item nav-link" })
            </div>
            @using (Ajax.BeginForm("TaskSearch", "Home", new AjaxOptions { UpdateTargetId = "result" }, new { @class = "form-inline" }))
            {
                <input class="form-control mr-sm-2" name="title" type="search" placeholder="Поиск" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
            }
        </nav>
    </header>

    <div class="container body-content">
        @RenderSection("Body")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>